.legend-item .hover-box {
    position: absolute;
    top: 1.66em;
    z-index: 999;
    cursor: default;
    background-color: white;
    border: 1px solid $lightGray;
    padding: 5px;
    word-wrap: break-word;
    white-space: normal;
}

.hover-box-text {
    font-size: 14px;
}
