.navbar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: $darkGray;
    border-bottom: 1px solid $lightGray;
    z-index: 9999;
    height: $navbarHeight;
}

.navbar-logo {
  padding: 10px 5px;
  text-decoration: none;

  &:visited {
      color: black;
  }

  &:hover {
      color: black;
  }
}

.navbar-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;

    .navbar-dropdown-menu {
         display: none;

         position: absolute;
         top: 90%;
         right: 20px;
         background-color: white;
         width: $sidebarWidth;
         text-align: left;
         border: 1px solid $lightGray;

         .navbar-dropdown-menu-item {
              padding: 15px 12px;
              display: flex;
              align-items: center;

              &:hover {
                  background-color: $lightestGray;
              }
         }
    }

    &:hover {
        .navbar-dropdown-menu {
            display: block;
        }
    }
}

.navbar-dropdown-icon {
    color: $blue;

}

.navbar-dropdown-menu-item-icon {
    margin-right: 15px;
    color: $darkGray;
}

.navbar-dropdown-profile {
    text-align: center;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-dropdown-profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-dropdown-profile-name {
  font-size: 16px;
  margin: 0 15px;
  color: $blue;
}
