.admin {
    width: 75%;
    margin: 40px auto;
}

.admin-header > .btn {
    float: right;
}

.admin-table {
    display: table;
    // border: 1px solid black;
    width: 100%;
    margin: 40px 0;
}

.admin-table tbody tr:nth-child(2n+1) {
    background-color: $lightGray;
}

.admin-table th {
    font-size: 24px;
    padding: 10px 20px;
    // text-decoration: underline;
}

.admin-table tr td {
    padding: 10px 20px;
}
