.admin {
    width: 75%;
    margin: 0 auto;
}

.admin-header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;

    .btn {
        margin: 0 10px;
    }
}

.admin-table {
    width: 100%;
    table-layout: fixed;
}

.admin-table thead th:nth-child(1) {
    width: 20%;
}

.admin-table thead th:nth-child(2) {
    width: 25%;
}

.admin-table thead th:nth-child(3) {
    width: 16.67%;
}

.admin-table tbody tr:nth-child(2n+1) {
    background-color: $lightGray;

    pre.admin-table-json {
        background-color: $lightGray;
    }
}

.admin-table-json {
    max-height: 300px;
    overflow: scroll;
}

.admin-table th {
    font-size: 24px;
    padding: 10px 20px;
}

.admin-table tr td {
    padding: 10px 20px;

    input {
        font-size: 16px;
        width: 100%;
    }
}

// .admin-table tr > td > .admin-table-json {
//     width: 100%;
// }

.admin-table-actions, // td
.admin-table-actions-confirm-buttons { //div
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin-table-actions-confirm {
    text-align: center;
}

.admin-table-actions-confirm-text {
    font-size: 18px;
    font-weight: 600;
}

.admin-table-actions-confirm-buttons { //div
    margin-top: 10px;
}

.admin-user {
    width: 75%;
    margin: 0 auto;

    // span {
    .admin-user-info-name,
    .admin-user-info-email,
    .admin-user-info-type {
        display: block;
        text-align: center;
    }
}

.admin-user .form-container {
    margin-bottom: 20px;
}

.admin-user-info-name {
    font-size: 36px;
}

.admin-user-info-email {
    font-size: 18px;
}

.admin-user-info-type {
    font-size: 18px;
}

#data-upload-input {
    margin-bottom: 10px;
    width: max-content;
    cursor: pointer;
    font-size: 14px;

    &:focus {
        outline: $blue;
    }
}

.data-upload-metadata {
    // padding: 38px 40px 0 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2px;
    // .input-field,
    // label {
    //     max-width: max-content;
    // }
    //
    // .input-field {
    //     margin-left: 25px;
    // }
}

.data-upload-metadata-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.data-upload-label {
    color: $gray;
    font-size: 14px;
}

.data-upload-json {
    border: 1px solid $lightGray;
    height: 300px;
    overflow: scroll;
    // margin: 0;
    // overflow-x: hidden;
    margin: 0 0 10px 0;
}
