.admin-container {
    width: 75%;
    margin: 40px auto;
}

.admin-panel-table {
    // margin: 40px auto;
    display: table;
    border: 1px solid black;
    width: 100%;
}

.admin-panel-table tbody tr:nth-child(2n+1) {
    background-color: $lightGray;
}

.admin-panel-table th {
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: underline;
}

.admin-panel-table tr td {
    padding: 10px 20px;
}
