.button {
    cursor: pointer;
    color: black;
    background-color: $blue;


    &:focus {
        outline: 0;
    }
}

.button-selector {
    width: max-content;
    display: flex;
    flex-direction: row;
    width: calc(100% - #{$sideNavWidth};
    flex: 1;
    height: $buttonSelectorHeight;
    background-color: $blue;
    font-size: 16px;
    font-weight: 300;
    margin-left: $sideNavWidth;
    // z-index: 999;
    // margin-bottom: 10px;
    // background-color: $blue;
}

.button-selector-item {
    padding: 5px 10px;
    @extend .button;
    text-align: center;
    display: flex;
    align-items: center;
}

.button-selector-item.active {
    background-color: white;

    .button-selector-item-icon {
        color: $blue;
    }

    .button-selector-item-text {
        color: $blue;
    }
}

.button-selector-item-icon {
    color: white;
    font-size: 24px;
    margin-right: 5px;
}

.button-selector-item-text {
    color: white;
}
