.button {
    cursor: pointer;
    color: black;
    background-color: $blue;


    &:focus {
        outline: 0;
    }
}

.button-selector {
    width: max-content;
    display: flex;
    flex-direction: row;
    width: calc(100% - #{$sidebarWidth} - 1px);
    flex: 1;
    background-color: $blue;
    font-size: 16px;
    font-weight: 300;
    margin-left: $sidebarWidth;
    margin-top: -$navbarMargin;
    z-index: 999;
    position: fixed;
}

.button-selector-item {
    padding: 2px 10px;
    @extend .button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-selector-item.active {
    background-color: white;

    .button-selector-item-icon {
        color: $blue;
    }

    .button-selector-item-text {
        color: $blue;
    }
}

.button-selector-item-icon {
    color: white;
    font-size: 24px;
    margin-right: 5px;
}

.button-selector-item-text {
    color: white;
}
