.dashboard-container {
    // width: calc(100% - #{$sidebarWidth});
    width: 100%;
}

.overview-container {
    // width: 50%;
    border: 1px solid $lightGray;
    // margin: calc(#{$navbarMargin} + 10px) calc(#{$sidebarWidth} + 10px) 10px 10px;
    margin: calc(#{$navbarMargin} + 10px) 10px 10px 10px;
    padding: 10px;
    // width: 100%;
}

.overview-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overview-heading-label {
    margin: 0;
    font-weight: 400;
}

.overview-heading-dropdown {
    margin: 0 10px;
    width: auto;
}
