.form-container {
    margin: 50px auto;
    border: 1px solid $lightGray;
    padding: 10px 40px;
    min-width: 200px;
    max-width: 400px;
    width: max-content;
}

.form-container a.link {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
}

// .form-container a.btn,
.form-container .btn {
    width: 75%;
    font-size: 18px;
    display: block;
    padding: 5px 10px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    color: white;
    border: 1px solid $lightGray;
    background-color: $blue;


    &:focus {
        outline: 0;
    }
}

.input-field {
    display: block;
    margin-bottom: 5px;
}

.input-field label {
  font-size: 14px;
  color: #777;
  margin-right: 4px;
  display: block;
}

.input-field input {
    font-size: 18px;
    padding: 4px 4px 2px 4px;
    color: black;
    min-width: 200px;
    width: max-content;
}

.input-field-error-text {
    display: block;
    color: red;
    word-wrap: break-word;
}
