@import "./variables.scss";

@import "./admin_panel.scss";
@import "./button_selector.scss";
@import "./forms.scss";
@import "./hover_box.scss";
@import "./legend.scss";
@import "./navbar.scss";
@import "./talk_ratio.scss";
@import "./turn_taking.scss";
@import "./script.scss";
@import "./sidebar.scss";
@import "./transcript.scss";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a:-webkit-any-link {
    color: inherit;
    text-decoration: inherit;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-with-link {
    display: block;
    margin: 5px 0;
    font-size: 10px;
}

.app {}

.app-container {}

.dashboard-content {
    margin-left: $sidebarWidth;
    margin-top: 10px;
}
