@import "./button_selector.scss";
@import "./forms.scss";
@import "./navbar.scss";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a:-webkit-any-link {
    color: inherit;
    text-decoration: inherit;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.text-center {
    text-align: center;
}

.text-with-link {
    display: block;
    margin: 5px 0;
}

.visualization {
    margin: auto;
    width: max-content;
}