.landing-container {
    margin: 50px auto;
    border: 1px solid black;
    padding: 10px 40px;
    max-width: 200px;
    border-radius: 10px;
}

.landing-container a {
    width: 75%;
    font-size: 24px;
    background-color: #ccc;
    display: block;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 40px auto;
    text-align: center;
    border-radius: 10px;
}
