// TurnTaking.js
.talk-ratio-legend-teacher,
.turn-taking-legend-teacher {
    position: fixed;
    top: 40%;
    left: 2%;
}

.talk-ratio-legend-student,
.turn-taking-legend-student {
    position: fixed;
    top: 40%;
    right: 2%;
}

.turn-taking-legend-student .legend-item {
    flex-direction: row-reverse;
}

// LegendItem.js
.legend-item {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.legend-item-key {
    height: 25px;
    width: 25px;
    margin-right: 6px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    cursor: pointer;
    border: 1px solid $lightGray;
    box-sizing: border-box;
}

.legend-item-label {
    font-size: 14px;
}

// LegendButton.js
.legend-button-dropdown {
    @extend .legend-button;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.legend-button-dropdown-text {
    font-size: 14px;
}

.legend-button-dropdown-toggle {}

.legend-button-dropdown.expanded + .legend-buttons {
    display: block;
}

.legend-button-dropdown.collapsed + .legend-buttons {
    display: none;
}

.legend-button {
    cursor: pointer;
    padding: 16px 20px;
    color: black;
    background-color: $lightGray;
    font-size: 12px;
    margin-bottom: 5px;
    width: 170px;
}
