// TurnTaking.js
.talk-ratio-legend-teacher,
.turn-taking-legend-teacher {
    position: fixed;
    padding-left: $legendSideBuffer;
}

.talk-ratio-legend-student,
.turn-taking-legend-student {
    position: fixed;
    right: $legendSideBuffer;
}

.turn-taking-legend-teacher,
.turn-taking-legend-student {
    margin-top: 65px;
}

.turn-taking-legend-student .legend-item,
.talk-ratio-legend-student .legend-item {
    flex-direction: row-reverse;
}

// TalkRatio.js
.talk-ratio-visualization-container .legend-item-key {
    cursor: default;
}

.legend-item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px;
}

// LegendItem.js
.legend-item {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    white-space: nowrap;
}

.legend-item-key {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    cursor: pointer;
    border: 1px solid $lightGray;
    box-sizing: border-box;
}

.legend-item-label {
    font-size: 14px;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
    background-color: white;
}

// LegendButton.js
.legend-button-dropdown {
    @extend .legend-button;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.legend-button-dropdown-text {
    font-size: 14px;
}

.legend-button-dropdown-toggle {}

.legend-button-dropdown.expanded + .legend-buttons {
    display: block;
}

.legend-button-dropdown.collapsed + .legend-buttons {
    display: none;
}

.legend-button {
    cursor: pointer;
    padding: 16px 20px;
    color: black;
    background-color: $lightGray;
    font-size: 12px;
    margin-bottom: 5px;
    width: $legendButtonWidth;
}
