.navbar {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin-bottom: 25px;
    color: $darkGray;
    border-bottom: 1px solid $lightGray;
}

.navbar-logo {
  padding: 5px;
  text-decoration: none;

  &:visited {
      color: black;
  }

  &:hover {
      color: black;
  }
}

.navbar-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;

    .navbar-dropdown-menu {
       display: none;

       position: absolute;
       top: 90%;
       right: 20px;
       background-color: white;
       width: 250px;
       text-align: left;
       border: 1px solid $lightGray;

       .navbar-dropdown-menu-item {
          padding: 15px 12px;
          display: flex;
          align-items: center;

          &:not(:last-child) {
              border-bottom: black;
          }
       }
    }

    &:hover {
        .navbar-dropdown-menu {
            display: block;
        }
    }
}

.navbar-dropdown-menu-item-icon {
    margin-right: 5px;
}

.navbar-dropdown-profile {
    text-align: center;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-dropdown-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: yellow;
}

.navbar-dropdown-profile-name {
  font-size: 16px;
  margin: 0 15px;
}
