.script-turn {
    margin-top: 15px;
    color: $darkGray;
    font-size: 16px;
}

.script-turn-speaker-timestamp {
    font-weight: bold;
    margin-right: 10px;
}

.script-turn-utterance-text {
    overflow: visible;
    color: black;
    font-size: 14px;
    line-height: 1.2;
}

.script-turn-utterance-text.inspectable {
    cursor: pointer;

    &:hover {
        background-color: $lightGray;
    }
}

.hover-script-turn-container {
    width: 100%;
    z-index: 999;
    background-color: white;
    border: 1px solid $lightGray;
    margin-top: -2px;
    margin-right: -2px;
    position: absolute;
    font-size: 14px;

    .script-turn {
        margin: 0;
    }
}
