.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebarWidth;
    height: calc(100% - #{$navbarHeight});
    margin-top: $navbarHeight;
    border-right: 1px solid white;
    z-index: 999;
    background-color: $blue;
    color: white;
    overflow: auto;
}

.sidebar-item {
    padding: 9px 10px 8px 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-item.active {
    background-color: white;
    color: $blue;
    border-right: white;
}

.sidebar-item-title {
    font-size: 18px;
}

.sidebar-group-dropdown {
    display: flex;
    padding: 9px 10px 8px 10px;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar-group-dropdown.expanded + .sidebar-group-data {
    display: block;
}

.sidebar-group-dropdown.collapsed + .sidebar-group-data {
    display: none;
}

.sidebar-group-dropdown-text {
    font-size: 18px;
}

.sidebar-group-data {
    height: calc(100% - $sidebarHeaderImageHeight);
    position: relative;
}

.sidebar-data-row {
    padding: 10px 10px;
    cursor: pointer;
    min-height: min-content;
}

.sidebar-data-row.active {
    background-color: white;
    color: $blue;
}

.sidebar-data-row-title {
    font-size: 18px;
    margin-bottom: 5px;
    overflow: auto;
    text-overflow: ellipsis;
}

.sidebar-data-row-descriptor {
    word-wrap: break-word;
}

.sidebar-data-row-descriptor-label {
    font-size: 14px;
    font-weight: bold;

    &:after {
        content: "\00a0"; // space
    }
}

.sidebar-data-row-descriptor-value {
    font-size: 14px;
}
