.transcript-visualization-container {
    display: flex;
    position: relative;
}

.transcript-visualization-legend {
    position: fixed;
    left: $sideNavWidth;
}

.transcript-script-container {
    left: calc(#{$legendButtonWidth} + #{$legendButtonPadding});
    position: relative;
}
