.transcript-visualization-container {
    display: flex;
    position: relative;
}

.transcript-visualization-legend {
    position: fixed;
    left: $sidebarWidth;
}

.transcript-script-container {
    left: calc(#{$legendButtonWidth} + #{$legendButtonPadding} + #{$legendSideBuffer});
    position: relative;
    width: calc(100% - #{$sidebarWidth} - 2 * #{$legendButtonWidth} - 2 * #{$legendSideBuffer});
}
