#trend-chart-container {
    height: inherit;
    width: 100%;
}

.axis {
    z-index: 999;
    stroke: black;

    path, .tick {
        stroke: black;
    }
}

.trend-chart-gridline {
    stroke: $lightestGray;
}

.trend-chart-path {
  stroke-width: 2px;
  fill: none;
}

// .journey-map .col-md-9 {
//     padding: 0;
// }

// .trend-chart-path.goal {
//     stroke: blue;
// }



// .trend-chart-path.activity {
//     stroke: green;
// }

// .axis-labels text {
//   fill: red;//$fourthGray;//red;//#000;
//   fill-opacity: 0.9;
//   font-size: 12px;
//   text-anchor: middle;
// }

// .axis-labels line {
//   stroke: #000;
// }

// .gridline {
//   opacity: 0.2;
// }

// .circle {
//     fill: red;
// }
