.turn-taking-visualization-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.turn-taking-visualization {
    width: 50%;
    margin: auto;
}

.turn-taking-visualization-headings {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.turn-taking-visualization-heading {
    font-weight: 400;
    display: flex;
    align-items: baseline;
}

.turn-taking-visualization-heading-icon {
    margin-left: 5px;
    color: $blue;
    cursor: pointer;
}

.turn-taking-visualization-row {
    position: relative;
}

.turn-taking-bar-timestamp {
    font-size: 10px;
    width: max-content;
    position: absolute;
    top: 2px;
}

.turn-taking-bar-timestamp-time {
    @extend .turn-taking-bar-timestamp;
    left: -45px;
}

.turn-taking-bar-timestamp-range {
    @extend .turn-taking-bar-timestamp;
    left: -95px;
}

.turn-taking-bar {
    display: flex;
    flex-direction: row;
    height: 14px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 1px;

    &:hover {
        border: 1px solid $lightGray;
    }
}

.turn-taking-bar-teacher-outer {
    width: 50%;
    position: relative;

    .turn-taking-bar-teacher-inner {
        max-width: 100%;
    }
}

.turn-taking-bar-teacher-inner {
    position: absolute;
    right: 0;
}

.turn-taking-bar-student-outer {
    width: 50%;
    position: relative;

    .turn-taking-bar-student-inner {
        max-width: 100%;
    }
}

.turn-taking-bar-student-inner {
    position: absolute;
    left: 0;
}
