.turn-taking-bars-collapsed-visualization {
    width: 100%;
}

.turn-taking-bar-collapsed {
    display: flex;
    flex-direction: row;
    height: 3px;
    cursor: pointer;
    position: relative;
}
