$darkGray: #999;
$gray: #777;
$lightestGray: #eee;
$lightGray: #cecece;

$borderGray: $lightGray;

$blue: #0363f3;
$green: #29CB97;
$orange: #FF5D02;

$navbarHeight: 74px;
$navbarMargin: 40px;
$sidebarHeaderImageHeight: 83px;
$sidebarWidth: 200px;
$sidebarHorizontalPadding: 20px;
$buttonSelectorHeight: 46px;
$legendSideBuffer: 15px;
$legendButtonWidth: 170px;
$legendButtonPadding: 40px;
