$darkGray: #999;
$lightGray: #cecece;
$blue: #0363f3;

$navbarHeight: 74px;
$sideNavWidth: 250px;
$buttonSelectorHeight: 46px;
$legendSideBuffer: 5px;
$legendButtonWidth: 170px;
$legendButtonPadding: 40px;
