$darkGray: #999;
$lightGray: #cecece;
$lightestGray: #eee;
$blue: #0363f3;

$navbarHeight: 74px;
$sidebarWidth: 250px;
$buttonSelectorHeight: 46px;
$legendSideBuffer: 15px;
$legendButtonWidth: 170px;
$legendButtonPadding: 40px;
